// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
header {
    .header-bg {
        background-image: url("../images/header-bg.jpg");
        background-size: cover;
        min-height: 740px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .header-top-bg {
            padding: 10px 0;
            position: fixed;
            width: 100%;
            padding-top: 50px;
            z-index: 100;
            .text-logo {
                font-size: 40px;
                color: #fff;
                font-weight: bold;
                span {
                    color: #F1AF34;
                }
            }
            .navbar {
                margin-bottom: 0;
                min-height: inherit;
            }
            .navbar-default {
                background-color: transparent;
                border-color: transparent;
                .navbar-nav {
                    > .active {
                        a {
                            background-color: transparent;
                        }
                    }
                    > li {
                        a {
                            text-transform: uppercase;
                            font-weight: 600;
                            color: #fff;
                            padding: 16px 28px;
                            font-size: 18px;
                            &:hover {
                                border-bottom: 5px solid #EFAF3C;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}
.container {
    .text-content {
        color: #fff;
        font-size: 50px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 31%;
        span {
            font-size: 20px;
            background-color: rgba(2, 2, 2, 0.29);
            padding: 13px 26px;
        }
    }
    .fa-arrow-circle-down {
        display: flex;
        justify-content: center;
        &::before {
            font-size: 70px;
            color: #F1AF34;
        }
    }
    .about-me {
        padding: 50px 10px;
        position: relative;
        h1 {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            padding: 27px;
            line-height: 72px;
            &::after {
                content: '';
                position: relative;
                width: 6%;
                height: 4px;
                background: #f1af34;
                bottom: 0px;
                margin: 0 auto;
            }
        }
    }

    .testimonials-content {
        padding: 0 0 40px 0;
        position: relative;
        h1 {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            padding: 27px;
            line-height: 72px;
            &::after {
                content: '';
                position: relative;
                width: 6%;
                height: 4px;
                background: #f1af34;
                bottom: 0px;
                margin: 0 auto;
            }
        }
    }
    .box-section {
        text-align: center;
        padding: 50px 0;
        color: #463f2f;
        .fa-wordpress {
            padding: 20px 0;
            &::before {
                font-size: 70px;
            }
        }
        .fa-html5 {
            padding: 20px 0;
            &::before {
                font-size: 70px;
            }
        }
        .fa-css3 {
            padding: 20px 0;
            &::before {
                font-size: 70px;
            }
        }
        .fa-spotify {
            padding: 20px 0;
            &::before {
                font-size: 70px;
            }
        }
        h4 {
            letter-spacing: 3px;
        }
    }
    .button {
      border-radius: 4px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 20px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
          &::after{
              content: '»';
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.5s;
          }
      }
      &:hover{
          span {
              padding-right: 25px;
              &::after{
                  opacity: 1;
                  right: 0;
              }
          }
      }
    }
    .btn-primary {
        text-transform: uppercase;
        background-color: #463f2f;
        border-color: #463f2f;
        border-radius: 0;
        &:hover {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}
.section-box {
    text-align: center;
    color: #fff;
    padding: 80px 0 40px 0;
    .col-border-a {
        padding: 20px;
    }
    .col-border-b {
        padding: 20px;
    }
    .col-border-c {
        padding: 20px;
    }
    .col-border-d {
        padding: 20px;
    }
    .fa-diamond {
        font-size: 60px;
        color: #f1af34;
    }
    .fa-cube {
        font-size: 60px;
        color: #f1af34;
    }
    .fa-coffee {
        font-size: 60px;
        color: #f1af34;
    }
    .fa-database {
        font-size: 60px;
        color: #f1af34;
    }
    .col-a-bg {
        background-color: #272727;
        padding: 30px 100px;
        float: left;
        width: 50%;
        min-height: 400px;
        p {
            display: none;
        }
    }
    .col-b-bg {
        background-color: #171717;
        padding: 30px 100px;
        float: left;
        width: 50%;
        min-height: 400px;
        p {
            display: none;
        }
    }

    .col-d-bg {
        background-color: #272727;
        padding: 30px 100px;
        float: inherit;
        width: 50%;
        min-height: 400px;
        p {
            display: none;
        }
    }
    .col-c-bg {
        background-color: #171717;
        padding: 30px 100px;
        float: left;
        width: 50%;
        min-height: 400px;
        p {
            display: none;
        }
    }
    h3 {
        text-transform: uppercase;
    }
}
.container {
    .col-skill {
        padding-bottom: 80px;
        h1 {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            padding: 27px;
            line-height: 72px;
            text-transform: uppercase;
            &::after {
                content: '';
                position: relative;
                width: 6%;
                height: 4px;
                background: #f1af34;
                bottom: 0px;
                margin: 0 auto;
            }
        }
        #bars {
            padding: 50px 0;
            .bar {
                float: left;
                text-align: center;
                h3 {
                    font-weight: bold;
                    margin: 0;
                    text-transform: uppercase;
                }
            }
            .bar-circle {
                display: block;
                margin: 0.7em auto;
            }
        }
    }
    .portfolio-content {
        padding: 40px 0 0 0;
        h1 {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            padding: 27px;
            line-height: 72px;
            text-transform: uppercase;
            &::after {
                content: '';
                position: relative;
                width: 6%;
                height: 4px;
                background: #f1af34;
                bottom: 0px;
                margin: 0 auto;
            }
        }
    }
}
.content-bg {
    background-image: url("../images/content-bg.jpg");
    min-height: 740px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    h1 {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        padding: 27px;
        line-height: 72px;
        text-transform: uppercase;
        &::after {
            content: '';
            position: relative;
            width: 6%;
            height: 4px;
            background: #f1af34;
            bottom: 0px;
            margin: 0 auto;
        }
    }
    .contact-form {
        padding-top: 40px;
    }
}
.skill-bg {
    background-image: url("../images/skills-bg.jpg");
    min-height: 740px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    margin-top: 100px;
}
.footer-bg {
    background: #1b1919;
    padding: 40px 0;
    .social-icons {
        font-size: 40px;
        color: #463f30;
        .fa-facebook-official {
            &:hover {
                color: #eab042;
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        .fa-youtube-square {
            &:hover {
                color: #eab042;
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        .fa-twitter-square {
            &:hover {
                color: #eab042;
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        .fa-instagram {
            &:hover {
                color: #eab042;
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        p {
            font-size: 16px;
            color: #fff;
        }
    }
}
.back-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    .glyphicon-menu-up {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        color: #f5f3ef;
        border-radius: 50%;
        background: #463F30;
        width: 50px;
        height: 50px;
        cursor: pointer;
        &:hover {
            background: #F1AF34;
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}
.clearfix {
    overflow: auto;
}

#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form {
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .form:hover {
    border:1px solid #f1af34;
  }
  .form:focus {
    color: white;
    outline: none;
    border:1px solid #f1af34;
  }
  .textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }

/* Generic Button Styles */
  .button {
    padding:8px 12px;
    background: #0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover {
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn {
    width: 180px;
    text-transform: uppercase;
    display: block;
    height: auto;
    padding: 15px;
    color: #fff;
    background: #f1af34;
    border:none;
    border-radius: 0px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover {
    background: #B18230;
    color: white;
    border: none;
  }

.form-btn:active {
    opacity: 0.9;
}

.center {
  margin-top: 330px;
}

input {
    position: relative;
    z-index: 9999;
}
/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .section-box {
            .col-b-bg {
                padding: 30px 20px;
            }
            .col-a-bg {
                padding: 30px 20px;
            }
            .col-d-bg {
                padding: 30px 20px;
            }
            .col-c-bg {
                padding: 30px 20px;
            }
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .section-box {
            .col-b-bg {
                padding: 30px 20px;
            }
            .col-a-bg {
                padding: 30px 20px;
            }
            .col-d-bg {
                padding: 30px 20px;
            }
            .col-c-bg {
                padding: 30px 20px;
            }
        }
        .footer-bg {
            p {
                text-align: center;
            }
            .social-icons {
                text-align: center;
            }
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        .section-box {
            .col-b-bg {
                width: 100%;
                float: inherit;
            }
            .col-a-bg {
                width: 100%;
                float: inherit;
            }
            .col-d-bg {
                width: 100%;
                float: inherit;
            }
            .col-c-bg {
                width: 100%;
                float: inherit;
            }
        }
        header {
            .header-bg {
                .header-top-bg {
                    position: inherit;
                    .text-logo {
                        text-align: center;
                    }
                }
            }
        }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
